<!-- link to the styles of the icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <footer>
        <div class="bottom-nav">
            <button class="nav-button">
                <i class="fas fa-map-marker-alt"></i>
            </button>
            <button class="nav-button">
                <i class="fas fa-list"></i>
            </button>
            <button (click)="addIncidence()" class="add-button">
                <i class="fas fa-plus"></i>
            </button>
            <button class="nav-button">
                <i class="fas fa-chart-bar"></i>
            </button>
            <button class="nav-button">
                <i class="fas fa-users"></i>
            </button>
        </div>
    </footer>


