<main>
    <div class="map-container">
        <!-- Map will be loaded here -->
        <app-map></app-map>
    </div>

    <div class="filters">
        <button class="filter-btn active">Todos</button>
        <button class="filter-btn">Arqueta</button>
        <button class="filter-btn">Averías</button>
        <button class="filter-btn">En progreso</button>
    </div>

    <!-- TODO: Barra de buscador -->

    <div class="incidents-list">
        <app-listado></app-listado>
    </div>

</main>